body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #333;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label, input[type="text"], textarea {
  font-size: clamp(15px, 1.3vw, 3.1vw);
  display: block;
  width: 100%;
  box-sizing: border-box;      
  font-family: 'Figtree', sans-serif;
}

textarea, input[type="text"] {
  margin: 1vw 0;
  padding: 5px;
  border: 4px solid #000;
  &:focus, &:hover {
      border-color: blue;
  }
}

label {    
  font-weight: bold;
  color: blue;
  margin-top: 30px;
  margin-bottom: 10px;  
  span {
      display: inline-block;
      font-size: clamp(13px, 1vw, 2.6vw);
      font-weight: 400;
      color: #777;
      margin-left: auto;
  }
  &.vertical-align {
      flex-flow: column;        
      span {
          margin-top: 10px;
          margin-left: 0;
      }
  }
}

input[type="checkbox"] {
  display: none;
}

.customCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;  
  margin-right: 24px;
  position: relative;
  &:after, &:before {
    content: "";
    position: absolute;    
    height: 3px;
    background-color: blue;
    transform-origin: left;
  }
  &:before {
    transform: rotate(45deg);
    width: 0%;
    bottom: 40%;
    left: 15%;
    transition: all .1s ease-in-out;
    transition-delay: .1s;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 12%;
    left: 30%;
    width: 0%;
    transition: all .1s ease-in-out;
  }
}

.cbLabel {
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  h4 {
    margin: 0;    
  }
}

.cbContent {
  width: 100%;
  margin-left: 54px;
  p {
    margin: 0;
  }
  ul {
    margin-top: 0;
    padding-left: 1em;    
  }
}

input[type="checkbox"]:checked + .customCheckbox {
  border-color: blue;  
  &:before {    
    width: 40%;
    transition-delay: 0s;
  }
  &:after {
    width: 80%;
    transition-delay: .1s;
  }  
}

h1 {
  font-size: clamp(2rem, 5vw, 6.25rem);
  font-weight: 700;
  line-height: 1.2;
  margin: .2em 0;
  position: relative;
  span {
    color: #eee;    
  }
}

h2 {
  font-size: clamp(26px, 4vw, 5vw); 
  font-weight: 700;       
  &:before {
      content: "";        
      width: 10%;
      height: 0.5vw;
      display: block;
      background-color: #000;
      margin: 1vw 0;        
  }
}

h3 {
  font-size: clamp(22px, 3vw, 4vw);  
  &:before {
      content: "";        
      width: 10%;
      height: 0.35vw;
      display: block;
      background-color: #000;
      margin: .5vw 0;        
  }
}

h4 {
  margin-top: 20px;
  font-size: clamp(19px, 2.5vw, 3.4vw);
}

h5 {
  font-size: clamp(17px, 1.3vw, 3.3vw);
  margin-top: 120px;
  margin-bottom: 0;
  &:before {
      content: "";        
      width: 10%;
      height: 0.35vw;
      display: block;
      background-color: #000;
      margin: .5vw 0;        
  }
}

.underline {
  text-decoration: underline;
}

.ingress {
  font-size: clamp(17px, 1.3vw, 3.3vw);
  font-weight: 600;    
}

p {
  font-size: clamp(14px, 1.1vw, 3vw);
  max-width: 75%;
}

hr {
  border-width: 0.5vw;
  border-color: blue;
  border-style: solid;
}

.wrap {
  width: 100%;
  max-width: 1600px;
  padding: 0 4vw;
  box-sizing: border-box;
  margin: 0 auto;
}

.btn, button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: clamp(14px, 1.1vw, 3vw);  
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 0;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  &.red {
      background-color: red;
  }
}
.segment-header {
  min-height: 100vh;
  display: grid;    
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;    
  img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 320px;
  }
}
.segment {
  padding-bottom: 10vh;
  page-break-before: always;
}

table {
  width: 100%;    
  border-left: 1px solid #000;
  border-top: 0.6vw solid blue;  
  td, th {
      width: 20%;        
      border-bottom: 2px dotted #000;
      border-right: 1px solid #000;
  }
  th {
      padding: 10px;
  }
  label {
      display: inline-block;
      margin: 0;
      padding: 4px 10px;      
  }
  input[type="text"] {
      border: none;
      text-align: center;
      border-bottom: 4px solid #000; 
  }
  textarea {
      border: none;
      margin: 0;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 14px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.2);
  backdrop-filter: blur(10px);  
  z-index: 3;
  img {
    height: 14px;
  }
}

footer {
  padding: 40px;
  background: #1a1a1a;  
  min-height: 20vh;
  text-align: center;
}

@media print
{    
    header, footer
    {
        display: none !important;
    }
}

.sliders {
  margin-top: 10vh;
}

.customSlider {  
  width: 100%;
  height: 20px;
  .customSlider-track {
    top: 8px;
    height: 4px; 
    background: #000;
    border-top: 1px solid #000;
  }
  
  /* .customSlider-track.customSlider-track-0 {  
    background: blue;
  } */
  
  .customSlider-thumb {
    cursor: pointer;      
    background: #000;      
    width: 4px;
    border-right: 1px solid #000;
    height: 20px;    
    outline: none;    
  }
  
  .customSlider-thumb:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 255,0.2);
  }  
}

.sliderWrap {
  display: flex;
  align-items: center;
  font-weight: bold;
  .blue {    
    width: 20%;
    color: blue;
    margin-right: 20px;
    text-align: right;
  }
  .red {
    width: 20%;
    color: red;
    margin-left: 20px;
  }
}

.home {
  background: url('../public/img/abs-bg.png') no-repeat;
  background-size: contain;
  background-position: right;
}

.rebrand-time {
  font-family: 'Shadows Into Light', cursive;
  font-size: clamp(17px, 1.5vw, 3.4vw);
  position: absolute;
  bottom: 60px;
  display: flex;
  align-items: center;
  transform: rotate(10deg);
  img {
    margin-left: 10px;
    bottom: -20px;
    position: relative;
    width: 60px;
  }
}